<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DisCommerce Grupo 2</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body>

<!-- Navigation -->
<div th:include="partials/template_admin.html::header"></div>

<div class="container mt-80">
    <h1 class="mb-4 text-center">Detalles de Usuario</h1>

    <div class="error alert alert-danger" th:if="${error}" role="alert">
        <p class="mb-0" th:text="${error}"></p>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="card mb-3 justify-content-center" style="max-width: 1049px;">
            <div class="card-header bg-primary text-white text-center" th:if="${usuario}">
                <h2 class="card-title mb-0" th:text="${usuario.nombreUsuario}"></h2>
            </div>
            <div class="row g-0">
                <div class="col-md-8">
                    <strong>Email:</strong>
                    <span th:text="${usuario.email}"></span>
                </div>
                <div class="card-text">
                    <strong>Password:</strong>
                    <span th:text="${usuario.password}" class="ms-2"></span></div>
                <div>
                <div>
                    <strong>Dirección:</strong> <span th:text="${usuario.direccion}"></span>
                </div>
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-end">  <!-- Añadido d-flex y justify-content-end -->
                    <a th:href="@{/usuarios}" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left"></i> Volver al listado de usuarios
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bloque Footer -->
    <div th:include="partials/template_admin.html::footer"></div>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>