<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DisCommerce Grupo 2</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body>

<!-- Navigation -->
<div include="partials/template_admin.html::header"></div>

<h1 th:text="${compra.id != null ? 'Modificar compra ' + compras.id : 'Crear nueva compra'}" ></h1>


<form th:action="@{/compras}" th:object="${compra}" method="post">

    <!-- campo oculto para ID -->
    <input type="hidden" th:field="*{id}">

    <!-- fecha de la compra -->
    <div>
        <label for="fechaDeCompra">Fecha de la compra:</label>
        <input type="date"
               id="fechaDeCompra"
               th:field="*{fechaDeCompra}"
               placeholder="Ingrese fecha de la compra"
               required>
    </div>
    <br>

    <!-- cantidad -->
    <div>
        <label for="cantidad">Cantidad:</label>
        <input type="number"
               id="cantidad"
               th:field="*{cantidad}"
               min="0"
               placeholder="0">
    </div>
    <br>

    <!-- usuario -->
    <div>
        <label for="usuario">Usuario:</label>
        <select id="usuario" th:field="*{usuario}">
            <option value="">-- Seleccione un usuario --</option>
            <option th:each="usu : ${usuarios}"
                    th:value="${usu.id}"
                    th:text="${usu.nombreUsuario}">
            </option>
        </select>
    </div>
    <br>

    <!-- producto -->
    <div>
        <label for="producto">Producto:</label>
        <select id="producto" th:field="*{producto}">
            <option value="">-- Seleccione un producto --</option>
            <option th:each="pro : ${productos}"
                    th:value="${pro.id}"
                    th:text="${pro.nombre}">
            </option>
        </select>
    </div>
    <br>

    <!-- total -->
    <div>
        <label for="total">Total:</label>
        <input type="number"
               id="total"
               th:field="*{total}"
               step="0.01"
               min="0"
               placeholder="0.00">
    </div>
    <br>

    <!-- botones -->
    <div>
        <a th:href="@{/compras}">Cancelar</a>
        <button type="submit">
            <span th:if="${compra.id != null}">Actualizar</span>
            <span th:if="${compra.id == null}">Guardar</span>
            <!-- operador ternario -->
            <!--<span th:text="${compra.id != null ? 'Actualizar' : 'Guardar'}"></span>-->
        </button>
    </div>
</form>
<!-- Bloque Footer -->
<div include="partials/template_admin.html::footer"></div>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>