<!-- Navigation -->
<div th:fragment="header">
	<!-- Primera barra - Logo + Título   -->
<div >

	<nav class="navbar bg-body-tertiary py-2">
		<div class="container-fluid justify-content-center">
			<div class="d-flex align-items-center">
				<!-- Asegúrate de que la ruta del logo es correcta -->
				<a th:href="@{/}">
					<img th:src="@{/images/logo.png}" alt="Logo" width="150" height="75" class="d-inline-block align-top me-2">
				</a>
			</div>
		</div>
	</nav>

	<!-- Segunda barra - Menú horizontal -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top: 20px;" >
		<div class="container">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav justify-content-center" th:each="categoria : ${categorias}">
					<span ></span>
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page" th:text="${categoria.nombre}"></a>
					</li>
					<!--<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="@{/productos}">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="@{/categorias}">Categorias</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="@{/usuarios}">Usuarios</a>
					</li>-->
				</ul>
			</div>


		</div>
	</nav>
</div>
</div>



<!-- Footer bg-light py-3 mt-auto -->
<div th:fragment="footer">
	<footer class="py-3 bg-dark mt-auto">
		<section class="mb-4" >
			<ul class="nav justify-content-center">

				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" th:href="@{/productos}">Productos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" th:href="@{/compras}">Compras</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" th:href="@{/categorias}">Categorias</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" th:href="@{/usuarios}">Usuarios</a>
				</li>
			</ul>
		</section>
		<hr style="width:100%; background-color:white">
		<div class="container">
			<h5 class="m-0 text-center text-white">Trabajo final curso FA Desarrollo web con Java con testing y Spring 25</h5>
			<hr style="width:100%; background-color:white">
			<p class="m-0 text-center text-white">Copyright &copy; DisCommerce Shop 2025</p>
		</div>
		<!-- /.container -->
	</footer>

</div>